.upper-part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-container{
    position: relative;
}

/* .favoriteList{
    position: absolute;
    background: gray;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1000;
    top: 100%;
    left: 0;
    right: 0;
    overflow-y: auto;
} */

h1{
    margin: 1rem;
}

@media (min-width: 768px){
    .upper-part{
        align-items: center;
    }
}

@media (min-width: 1024px){
    .upper-part{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}