.upper-part {
    display: flex;
    flex-direction: column;
}

.input-container {
    /* position: relative; */
    display: flex;
    align-items: center;
}

.search-container {
    position: relative;
    flex: 1;
}

h1 {
    margin: 1rem;
}

@media (min-width: 768px) {
    .upper-part {
        align-items: center;
        flex-direction: row;
    }
}

@media (min-width: 1024px) {

    .right-side-text {
        margin-left: auto;
    }
}