
.search-wrapper{
    position: relative;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
}
.upper-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
}

h1 {
    margin: 1rem;
}

@media (min-width: 768px) {
    .upper-part {
        align-items: center;
        flex-direction: row;
    }
}

@media (min-width: 1024px) {

    .right-side-text {
        margin-left: auto;
    }
}