body {
  background-image: url('./images/weather-background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 768px){
  body{
    overflow: hidden;
  }
}