body {
  background-image: url('./images/pexels-simeon-theartist-13627290.jpg');
  background-size: cover;
  background-position: center;
  /* background: linear-gradient(to bottom, #87CEFA, #4682B4); */
  color: white; /* Vit text för kontrast */
  background-attachment: fixed;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 768px){
  body{
    overflow: hidden;
  }
  
}


/* @media (min-width: 1024px){
  body{
    padding-top: 4rem;
  }
  
} */