button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    font-size: 2rem;
    border-radius: 10px;
    color: gray;
    background: white;
    border: 2px solid gray;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
}