.forecastListStyle{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    gap: 16px;
}

@media (min-width: 1024px) {
    .forecastListStyle{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    gap: 16px;
    width: 100%;
    }
}