.forecastStyle{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    width: 18rem;
    height: 6rem;
    border: 2px solid gray;

}

h1{
    font-size: 30px;
}

h3{
    font-size: 15px;
}

p{
    font-size: 20px;
}

@media (min-width: 350px){
    .forecastStyle{
        width: 20rem;
    }
}

@media (min-width: 767px){
    .forecastStyle{
        width: 35rem;
    }
}

@media (min-width: 1024px){
    .forecastStyle{
        width: 10rem;
        height: 15rem;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
    .date-desktop{
        display: block;
    }
}

