.favorite-list{
    display: flex;
    position: absolute;
    background: gray;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1000;
    left: 0;
    right: 0;
}

ul{
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 230px;
    overflow-y: auto;
}

h3{
    font-size: 1.1rem;
}

.favorite-info{
    padding: 0.8rem;
}

.favorite-item{
    background: gray;
    padding: 0.8rem;
    font-size: 1.2rem;
    list-style-type: none;
    box-sizing: border-box;
}

.favorite-item:hover{
    background: darkgray;
    cursor: pointer;
}

